/* CSS Document */
/** Crée par Alexis Moisan **/

 #container{
 
	width: 1000px;
	height : 800px;
	margin: 0 auto;
 }
 
 header{
 
	width: 80%;
	margin : 0 auto ;
 
 }
 
 header h1, h3 {
 
	text-align:center;
 }
 
 article{
 
 

	
 }
 
 canvas {
	width:950px;
	margin: 0 auto;
	height : 50%;
	margin-top : 70px;
	background-image: url("../image/fond_ciel.jpg");
	background-size: 50% auto;
	background-size: 100% 100%;
	background-color: #CCFFFF;
	cursor : crosshair;

 }
 
 #score{
 float:left;
 padding : 10px;
 margin-left : 20px;
 }
 
 footer {
 
	width: 80%;
	margin : 0 auto ;

 
 }
 
 footer p{
 
	text-align:center;
 
 }
 
 .red {
 
	background-color:red;
 }
 
 .blue {
 
	background-color:blue;
 }
 
 .green {
 
	background-color:green;
 }